.milestone__outer{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.milestone__inner{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.milestone__heading{
    width:90%;
    height:fit-content;
    margin-bottom: 3rem;
}
.milestone__heading__top{
    width:100%;
    font-size: 1rem;
    color: #0AB1EE;
    font-weight: 600
}
.milestone__heading__bottom{
    width:100%;
    font-size: 2.5rem;
    color:#2F528E;
}

.milestone__display__inner{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    margin-bottom: 10rem;
}


.milestone__display__inner__middle{
    width:8px;
    height:122rem;
    position: absolute;
    z-index: 1;
    background-color: #B9D4FF;
}

.milestone__display__inner__heading__inner{
    width: 8rem;
    padding: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B9D4FF;
    border-radius: 20px;
    font-weight: 600;
    z-index: 10;
}
.milestone__display__inner__inner1{
    width:750px;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}
.milestone__display__inner__inner2{
    width:750px;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.milestone__display__inner__inner__right{
    width:52%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.milestone__display__inner__inner__left{
    width:52%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.milestone__display__inner__inner__ele{
    width:20px;
    padding: 5px;
    height:20px;
    z-index: 10;
    border-radius: 50%;
    position: relative;
    background-color:#2F528E;
}
.milestone__display__inner__inner__info{
    width:20rem;
    height: fit-content;
}












@media screen and (min-width:1510px)
{
    .milestone__inner{
        width:90%;
    }
}
@media screen and (min-width:2000px)
{
    .milestone__inner{
        width:60%;
    }
}
@media screen and (min-width:2400px)
{
    .milestone__inner{
        width:51%;
        
    }
}
@media screen and (max-width:792px)
{
    .milestone__display__inner__inner1{
        width:700px;
    }
    .milestone__display__inner__inner2{
        width:700px;
    }
}
@media screen and (max-width:733px)
{
    .milestone__display__inner__middle{
        height:142rem;
    }
    .milestone__display__inner__inner1{
        width:100%;
        justify-content: center; 
    }
    .milestone__display__inner__inner2{
        width:100%;
        justify-content: center;
    }
    .milestone__display__inner__inner__ele{
        display: none;
    }
    .milestone__display__inner__inner__right{
        width:50%;
        z-index: 10;
    }
    .milestone__display__inner__inner__left{
        width:50%;
        z-index: 10;
    }
    .milestone__display__inner__inner__info{
        width:100%;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        border:2px solid #2F528E;
    }
}
@media screen and (max-width:633px)
{
    .milestone__display__inner__middle{
        height:153rem;
    }
}
@media screen and (max-width:578px)
{
    .milestone__display__inner__middle{
        height:162rem;
    }
}

@media screen and (max-width:561px)
{
    .milestone__display__inner__middle{
        height:133rem;
    }
    .milestone__display__inner__inner__right{
        width:95%;
    }
    .milestone__display__inner__inner__left{
        width:95%;
    }
}
@media screen and (max-width:415px)
{
    .milestone__display__inner__middle{
        height:143rem;
    }
}
@media screen and (max-width:333px)
{
    .milestone__display__inner__middle{
        height:153rem;
    }
}
