.milestone__outer{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.milestone__inner{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.milestone__heading{
    width:90%;
    height:fit-content;
    margin-bottom: 3rem;
}
.milestone__heading__top{
    width:100%;
    font-size: 1rem;
    color: #0AB1EE;
    font-weight: 600
}
.milestone__heading__bottom{
    width:100%;
    font-size: 2.5rem;
    color:#2F528E;
}

.milestone__display__inner{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    margin-bottom: 10rem;
}


.milestone__display__inner__middle{
    width:8px;
    height:122rem;
    position: absolute;
    z-index: 1;
    background-color: #B9D4FF;
}

.milestone__display__inner__heading__inner{
    width: 8rem;
    padding: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B9D4FF;
    border-radius: 20px;
    font-weight: 600;
    z-index: 10;
}
.milestone__display__inner__inner1{
    width:50%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.milestone__display__inner__inner2{
    width:50%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.milestone__display__inner__inner__right{
    width:52%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.milestone__display__inner__inner__left{
    width:52%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.milestone__display__inner__inner__ele{
    width:20px;
    padding: 5px;
    height:20px;
    z-index: 10;
    border-radius: 50%;
    position: relative;
    background-color:#2F528E;
}
.milestone__display__inner__inner__info{
    width:20rem;
    height: fit-content;
}